@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?26a7fv');
  src:  url('../fonts/icomoon.eot?26a7fv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?26a7fv') format('truetype'),
    url('../fonts/icomoon.woff?26a7fv') format('woff'),
    url('../fonts/icomoon.svg?26a7fv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e9ce";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
