/* ePportfolio presentation */

#usr-pers-data {
    min-height: 300px;
  }
  
  body.path-portfolio .ep-usr-image, body.path-user .ep-usr-image {
    float: left;
    margin-left: 1.5em;
    /* margin-bottom: 1.5em; -- useless */
    /* padding-right: calc(20% - 200px); -- causing problems in lower vw */
    padding-right: 30px; /* FIX */
  }
  
  body.path-portfolio .ep-usr-image img, body.path-user .ep-usr-image img {
    border-radius: 5px;
    border: 2px solid var(--color--txtwbg);
  }
  
  body.path-portfolio .ep-usr-name > h1,
  body.path-portfolio .ep-usr-name > h3 {
    display: inline-block; 
    margin-top: 0; 
  }
  
  body.path-portfolio .ep-usr-brief {
    margin-top: 2em;
    margin-bottom: 2.5em;
    padding-bottom: 5em;
  }
  
  body.path-portfolio h1.page-header,
  body.path-szukaj h1.page-header,
  body.path-portfolio .ep-sub-group > h2 {
    display: none;
  }
  
  body.path-portfolio .ep-usr-brief > div > div,
  body.path-portfolio .ep-sub-group > div > div {
    margin-bottom: 1.2em;
  }
  
  body.path-portfolio .ep-subgroup .cci-expanded > h2 {
    background-color: var(--color--accent);
    color:var(--color--txtwbg);
    border: 0;
  }
  
  /* USER BRIEF */
  
    /*Temporary changes: hide h1, add margin top*/
  
    body.path-user h1.page-header {
      display: none;
    }
  
    #usr-pers-data {
      margin-top: 1em;
    }
  
  
    /* NAME SURNAME */
  
    body.path-user #usr-name-surname-title .field--name-field-usr-firstname, body.path-user #usr-name-surname-title .field--name-field-usr-surname {
      display: inline-block;
      font-size: 36px;
    }
    
    body.path-user #usr-name-surname-title .field--name-field-usr-firstname::after {
      content:"\a0";
    }
  
  
    /* JOBS, CONTACTS, LINKS centering */
  
  #usr-jobs-contact-links {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
    /*Link separator */
  .field--name-field-usr-pers-webpage-url .field__items div:not(:last-child)::after {
    content:",\20"
  }
  
    /* Con jobs presentation */
  
  #usr-con-job .field__item > article > div , .grid-column-1-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  
   #usr-con-job .field__items{
    display:flex;
    flex-direction: column;
  }
  
  #usr-con-job .field__items, #usr-contact-data {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color--bordergray);
  }
  
  .field--name-field-usr-pers-webpage-url .field__items {
    display:flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .field--name-field-usr-pers-webpage-url {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .field--name-field-usr-jobs article div[class*="field--name-field-job-"] > .field__item {
    display: flex;
  }
  
  
  
  /* User research topics */
  .field--name-field-usr-research-keywords .field__items > .field__item {
  
    display: inline-block;
    background: var(--color--accent);
    color: var(--color--txtwbg);
    padding: 5px;
    border: 1px solid var(--color--accent);
    border-radius: 5px;
    margin-top: 5px;
  }
  
  
  /* user profile header styling */

.ep-usr-name {
    background: url(/themes/custom/thmpflo/files/wzorek.png) no-repeat right,var(--color--accent);
    color: var(--color--txtwbg);
    background-size: 318px;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
  
  }
  
  .ep-usr-image {
    transform: translateY(1em);
  }
  
  /* Anti-clearfix fix (eliminates empty vertical spaces) */

  body.path-user article > div.content, body.path-user .claro-details__wrapper > div.field {
    display: table;
  }
  
  /* USER elements listing*/
  
  body.path-user details div.field__item article {
    margin-left: 1em;
  }
  
  body.path-user details div.field__item article > h5 > span {
    display:list-item;
  }

  body.path-user details div.field__item article > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }


/* User section <details> styling fixes */

  body.path-user details.claro-details {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0 4px 4px 0;
  }

  body.path-user summary.claro-details__summary {
    display: none;
  }

  /* Vertical tabs styling */

  body.path-user .field-group-tabs-wrapper ul li a {
    border-radius: 4px 0 0 4px;
  }

  body.path-user .field-group-tabs-wrapper ul li.is-selected a, body.path-user .field-group-tabs-wrapper ul li.is-selected a:hover{
    background-color: var(--color--accent);
    color: var(--color--txtwbg);
  }

  body.path-user .vertical-tabs__menu-item a.vertical-tabs__menu-link::before, body.path-user .vertical-tabs__menu-item a.vertical-tabs__menu-link::after {
    display:none;
  }

  body.path-user .vertical-tabs > .vertical-tabs__items {
    border:none;
    box-shadow: none;
  }